.row
    .col-xl-12
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                | Chủ đề nổi bật
            .card-body
                sb-charts-bar
